@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(../public/font/Nunito/Nunito-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 900;
  src: local('Nunito'), url(../public/font/Nunito/Nunito-Bold.ttf) format('truetype');

}

/* @font-face {
  font-family: 'Nunito';
  font-weight: 900;
  src: local('Nunito'), url(../public/font/Nunito/Nunito-Black.ttf) format('truetype');
}  */

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Nunito', sans-serif;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

